
<h1>All Statuses</h1>

<table class="table table-striped table-bordered">
    <tr>
      <th class="center">Name</th>
      <th class="center">Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>


  
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= status.content %></td>
        <td><%= link_to time_ago_in_words(status.created_at) + " ago", status %></td>
        <td><%= link_to 'Edit', edit_status_path(status) %></td>
        <td><%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

</table>

<br>

<%= link_to 'Post a New Status', new_status_path, class: "btn btn-success" %>
